@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.color-primary {
  color: #6debb5 !important;
}

.color-secondary {
  color: #ffffff !important;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.py-c {
  padding-top: 120px;
  padding-bottom: 120px;
}

h5 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}
h1 {
  font-weight: bold;
}

.content {
  color: rgb(51, 51, 51);
}
ul {
  list-style-type: none; /* Elimina el círculo de viñeta predeterminado */
}
li {
}

.servic {
  color: rgb(68, 68, 68);
}
.btn-custom {
  background-color: rgb(51, 51, 51);
  border: none;
}
.foot {
  background-color: #212529;
  color: rgb(182, 180, 180);
}

p {
  font-weight: bold;
}

.multi-column-list {
  column-count: 2; /* Puedes ajustar este valor según la cantidad de columnas que desees */
}

.cold {
  color: #161616;
}

.navbar {
  transition: background-color 0.3s ease-in-out;
}

/* Estilo para el enlace activo en la barra de navegación */
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* Estilo para la barra de navegación al hacer scroll */
.navbar-dark.scrolled {
  background-color: dark;
}

